@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @Context.Request.Cookies["FirstName"]</h1>
    <p>Prueba Técnica para el Puesto .Net Core Web Developer.</p>
    <span>Elvis Inoa</span>
</div>
